@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mission Possible</h1>
    <p class="lead">An easy way to find information about your mission.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn More!</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p class="ChangeFontSize">
            Missionary work is an essential part of building the kingdom of God on earth prior to the Second Coming of Jesus Christ.<br />
            <a href="https://www.lds.org/manual/preach-my-gospel-a-guide-to-missionary-service?lang=eng">Read Preach My Gospel</a>
        </p>

        <img class="ProphetImages" src="~/Content/images/PMG.jpg" />
    </div>
    <div class="col-md-4">
        <h2>From a Prophet</h2>
        <p class="quotes">After all that has been said and done, the greatest and most important duty is to preach the gospel.<br /><br /> - Joseph Smith</p>
        <img class="ProphetImages" src="~/Content/images/Joseph Smith.jpg" />
    </div>

    <div class="col-md-4">
        <h2>From an Apostle</h2>
        <p class="quotes">The work of our missionaries is a magnificent expression of the Lord's redeeming love. <br /><br /> - Elder D. Todd Christofferson</p>
        <img class="ProphetImages" src="~/Content/images/D Todd.jpg" />
        <br />
        <br />
    </div>
    <div class="center">
        <br />
        <br />
        <H4><b>Sid Going's Mission</b></H4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/w7qWWLg220Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>